# -------------------------------------------------------------
# Database Connection (SQLite)
# -------------------------------------------------------------
# Local SQLite database file path:
DATABASE_URL=file:./payload.db

# -------------------------------------------------------------
# Payload Security Secrets
# -------------------------------------------------------------
# Used by Payload CMS to sign & encrypt authentication JWT tokens and admin cookies:
PAYLOAD_SECRET=128c97a5a78fc3fcf4f8be003a7f0dc562cfb2118e1d3ec38d4a288609aa90c7

# Used for authenticating background Payload cron jobs:
CRON_SECRET=7fff50b76071480a8e787305222706c6

# Used to validate secure draft live preview requests from Payload Admin:
PREVIEW_SECRET=878d6db7498da2e39f634e929e7ed771

# -------------------------------------------------------------
# Server & Public URLs (No trailing slash)
# -------------------------------------------------------------
# Local development:
NEXT_PUBLIC_SERVER_URL=http://localhost:3000

# Production (uncomment and set when deploying):
# NEXT_PUBLIC_SERVER_URL=https://ankurnarula.org

